<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace  名称空间，表示当前的 xml 是哪一个接口的映射 -->
<mapper namespace="com.pinyougou.mapper.BrandMapper">
    <select id="findAll" resultType="Brand">
        select * from tb_brand
        <where>
            <if test="name != null and name != '' ">
                name like CONCAT('%',#{name},'%')
            </if>
            <if test="firstChar != null and firstChar != '' ">
                and first_char = #{firstChar}
            </if>
        </where>
        order by id ASC
    </select>
</mapper>